<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 ">
        
        <h1>Simple CRUD Application</h1>
        <div class="col">
          <input type="text"  formControlName="name" class="form-control" placeholder="Search by id">
        </div>
        <br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Identifiant</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Date of birthday</th>
    <th scope="col">Age</th>
    <th scope="col">Delete Student</th>
    <th scope="col">Update Student</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let student of students">
    <th scope="row">{{student.id}}</th>
    <td>{{student.name}}</td>
    <td>{{student.email}}</td>
    <td>{{student.dob}}</td>
    <td>{{student.age}}</td>
    <td>

      <button style='margin-right:5px' class="btn btn-danger" (click)="delete(student.id)">Delete</button>

    </td>

    <td>
      <button style="margin-right:5px" class="btn btn-success" (click)="update(student.id)" data-toggle="modal" data-target="#exampleModal1">Update</button>
    </td>
  </tr>
 
  </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Add Student</button>

<!-- Modal Post-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Fill The Form</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm">
          <div class="row">
            <div class="col">
              <input type="text"  formControlName="name" class="form-control" placeholder="Name">
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <input type="text"formControlName="email" class="form-control" placeholder="Email">
            </div></div><br>
            <div class="row">

            <div class="col">
              <input type="date" formControlName="dob" class="form-control" placeholder="Date of birthday">
            </div>
            </div><br>
            <div class="row">
            <div class="col">
              <input type="text" formControlName="age" class="form-control" placeholder="Age">
            </div>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="post()">Save</button>
      </div>
    </form> 
    </div>
  </div>
</div>
</div>
</div>





<!-- Modal Update-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Information </h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm">
          <div class="row">
            <div class="col">
              <input type="text"  formControlName="name" class="form-control" placeholder="Name">
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <input type="text"formControlName="email" class="form-control" placeholder="Email">
            </div></div><br>
            <div class="row">

            <div class="col">
              <input type="date" formControlName="dob" class="form-control" placeholder="Date of birthday">
            </div>
            </div><br>
            <div class="row">
            <div class="col">
              <input type="text" formControlName="age" class="form-control" placeholder="Age">
            </div>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="post()">Save changes</button>
      </div>
    </form> 
    </div>
  </div>
</div>